html{
  scroll-behavior: smooth;
}
.atas{
  color: lightgray;
  position: fixed;
  font-size: 50px;
  bottom: 2px;
  right: 30px;
  z-index: +1;
  opacity: 0.5;
}
.navbar{
    padding: 15px;
    max-width: 100%;
}
.navbar-brand img{
    height: 30px;
    margin-top: -5px;
}
.carousel-item{
    height: max-content;
}
.carousel-caption{
  position: relative;
}
/* .carousel-caption .display-4{
  margin-top: -25%;
} */
.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 15px black;
}
.carousel-caption hr{
    border-color: whitesmoke;
    width: 80%;
    border-width: 2px;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 700;
  text-shadow: 1px 1px 10px black;
  margin-bottom: 50px;
}
.carousel-caption .btn{
font-size: 150%;
padding: 14px 24px;
}


@media(max-width: 650px){
  .middle {
    margin-top: 20%;
    max-height: 500px !important;
  }
}

@media(max-width: 700px){
  .middle {
    position: relative;
    height: 300px !important;
  }
}

@media(max-width: 1000px){
  .middle {
    position: relative;
    height: 350px !important;
  }
}

.middle {
  position: relative;
  height: 600px;
}

.wellcome{
  width: 85%;
  margin: 0 auto;
}
.fa-font{
  color: lightslategray;
}
.fa-pencil-alt{
  color: lightslategray;
}
.fa-comments{
  color: lightslategray;
}
.fa-font, .fa-pencil-alt, .fa-comments{
  font-size: 4em;
  margin: 1rem;
}
.programcard{
  width: 85%;
 margin: auto;

}
.testimonial{
  background-color: #cce3ff;
}
.techcard{
  width: 20rem;
  margin: auto;
  padding: 5px;
}
.tech_gretting{
  width: 85%;
  margin: 0 auto;
}
.garis_judul{
  width: 150px;
  border-width: 1px;
}
.akseslokasi{
  margin-top: -50px;
}
footer{
  background-color:#3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;;
}
footer img{
  width: 50px;
}
footer hr{
  border-width: 1px;
  border-color: #d5d5d5;  
}
.hr_fotter{
border-top: 1px solid #d5d5d5;
width: 75%;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color: #dd4b39;
}
.fa-facebook, .fa-twitter, .fa-instagram{
  font-size: 5em;
  padding: 1rem;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover{
  color: #d5d5d5;
}





/* page daftar */
.jumbotron{
  background-image: url('img/bg-slider-black2.png');
  background-size: cover;
  height: 600px;
  width: 100%;
}
.fas fa-tasks{
  width: 100px;
}
.konten_program{
  width: 85%;
  margin: 0 auto;
}





/* -Media Queries */

@media (max-width: 1200px) {
.carousel-caption hr{
    border-color: whitesmoke;
    width: 90%;
    border-width: 2px;
}
.carousel-caption{
  position: absolute;
}

.carousel-caption h1{
  font-size: 450%;
  text-shadow: 1px 1px 15px black;
}
.carousel-caption h3{
  font-size: 180%;
  font-weight: 700;
  text-shadow: 1px 1px 10px black;
  margin-bottom: 50px;
}
.carousel-caption .btn{
font-size: 120%;
padding: 14px 24px;
}
.tb_set{
  font-size: 90%;
  padding: 0;
}
.programcard{
  width: 85%;
  margin: auto;
}
}
@media (max-width: 992px) {
  .carousel-caption hr{
    border-color: whitesmoke;
    width: 85%;
    border-width:2px;
}
.carousel-caption{
  position: absolute;
}
.carousel-caption h1{
  font-size: 400%; 
}
.carousel-caption h3{
  font-size: 140%;
}
.carousel-caption .btn{
  font-size: 100%;
  padding: 8px 14px;
  margin-top: -5%;
}
.jumbotron{
  height: 500px;
}
.programcard{
  width: 90%;
  margin: auto;
}
}
@media (max-width: 768px) {
.carousel-caption{
  position: absolute;
}
.carousel-caption h1{
  font-size: 300%; 
}
.carousel-caption h3{
  font-size: 120%;
}
.carousel-caption .btn{
  font-size: 90%;
  padding: 8px 14px;
  margin-top: -5%;
}
.atas{
  font-size: 40px;
  bottom: 1px;
  right: 10px;
}
.jumbotron{
  height: 400px;
}
.programcard{
  width: 90%;
  margin: auto;
}
}
@media (max-width: 576px) {
.padding{
  padding: 0px;
  padding-right: 0px;
}
.carousel-caption hr{
    border-color: whitesmoke;
    width: 80%;
    border-width: 1px;
}
.atas{
  font-size: 30px;
  bottom: 1px;
  right: 10px;
}
.wellcome{
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
.carousel-caption{
  position: absolute;
}
.carousel-caption h1{
  font-size: 280%;
  margin-bottom: -5%;
}
.carousel-caption h3{
  font-size: 110%;
  margin-top: -3%;
}
.carousel-caption .btn{
  font-size: 85%;
  padding: 8px 14px;
  margin-top: -7%;
}
.tb_set{
  font-size: 70%;
  padding: 0;
}
.jumbotron{
  height: 300px;
}
.programcard{
  width: 100%;
  margin: auto;
}
}